<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a
      href="/"
      class="d-flex align-items-center text-body-emphasis text-decoration-none"
    >
      <img
        src="../../../../../assets/img/logos/crm.png"
        alt=""
        class="bi me-2"
        width="40"
        height="40"
      />
      <span class="fs-4">AngularApex CRM</span>
    </a>
  </header>

  <main>
    <h1 class="text-body-emphasis">Get started with AngularApex CRM</h1>
    <p class="fs-5 col-md-8">
      AngularApex CRM is an open source project to learn good practices, and get
      involved in real development environments with technologies such as
      Angular and .NET. This project is completely Open Source.
    </p>
    <p class="fs-6 col-md-8">
      Are you looking for a project that involves only Angular and .NET? This
      open source project is for you. During the process, best practices will be
      learned and within the community we will all be able to improve as
      developers.
    </p>

    <div class="mb-5">
      <a href="/docs/5.3/examples/" class="btn btn-primary btn-lg px-4"
        >Download examples</a
      >
    </div>

    <hr class="col-3 col-md-2 mb-5" />

    <div class="row g-5">
      <div class="col-md-6">
        <h2 class="text-body-emphasis">Starter projects</h2>
        <p>
          Ready to go beyond the starter template? Check out these open source
          projects that you can quickly duplicate to a new GitHub repository.
        </p>
        <ul class="list-unstyled ps-0">
          <li>
            <a
              class="icon-link mb-1"
              href="https://angular.io/"
              rel="noopener"
              target="_blank"
            >
              <i class="bi bi-google"></i>
              Angular
            </a>
          </li>
          <li>
            <a
              class="icon-link mb-1"
              href="https://dotnet.microsoft.com/en-us/download"
              rel="noopener"
              target="_blank"
            >
              <i class="bi bi-windows"></i>
              .NET Core
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2 class="text-body-emphasis">Guides</h2>
        <p>
          Read more detailed instructions and documentation on using or
          contributing to Bootstrap.
        </p>
        <ul class="list-unstyled ps-0">
          <li>
            <a class="icon-link mb-1" href="https://icons.getbootstrap.com/">
              <i class="bi bi-github"></i>
              Github Icons
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <footer class="pt-5 my-5 text-body-secondary border-top">
    Created by devs for devs 2024
  </footer>
</div>
