<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a
      [routerLink]="['/home']"
      class="d-flex align-items-center text-body-emphasis text-decoration-none"
    >
      <img
        src="../../../../../assets/img/logos/crm.png"
        alt=""
        class="bi me-2"
        width="40"
        height="40"
      />
      <span class="fs-4">AngularApex CRM</span>
    </a>
  </header>

  <main>
    <h1 class="text-body-emphasis h1-xxl">Get started with AngularApex CRM</h1>
    <p class="fs-5 col-md-8">
      AngularApex CRM is an open source project to learn good practices, and get
      involved in real development environments with technologies such as
      Angular and .NET. This project is completely Open Source.
    </p>
    <p class="fs-6 col-md-8">
      Are you looking for a project that involves only Angular and .NET? This
      open source project is for you. During the process, best practices will be
      learned and within the community we will all be able to improve as
      developers.
    </p>

    <div class="mb-5">
      <a
        [routerLink]="['/auth/register']"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-lg btn-xxl px-4"
        >Create free account</a
      >
    </div>

    <hr class="col-3 col-md-2 mb-5" />

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Get API</h2>
          <h6>ASP.NET Core 5 & SQL</h6>
          <p>
            Clone the API repository and delve into mastering the best practices
            for API development in the .NET framework. Explore key principles
            such as scalability, security, and efficiency, while honing your
            skills as a proficient API developer in the .NET ecosystem
          </p>
          <a
            href="https://github.com/HeyBaldur/AngularApex.API"
            target="_blank"
            class="btn btn-outline-light"
            type="button"
          >
            <i class="bi bi-github"></i>
            Fork API
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Get UI</h2>
          <h6>Angular 15</h6>
          <p>
            Clone the Angular UI repository and explore essential practices for
            crafting efficient user interfaces with Angular. Dive into topics
            like component structure and responsive design, honing your skills
            as a capable UI developer in the Angular framework.
          </p>
          <a
            href="https://github.com/HeyBaldur/AngularApex.UI"
            target="_blank"
            class="btn btn-outline-secondary"
            type="button"
          >
            <i class="bi bi-github"></i>
            Fork UI
          </a>
        </div>
      </div>
    </div>
  </main>

  <footer class="pt-5 my-5 text-body-secondary border-top">
    Created by devs for devs 2024
  </footer>
</div>
