<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-4">
      <h2>
        <i class="bi bi-people text-warning"></i>
        Manage Customers
      </h2>
      <p>Manage, update and add clients to your client portfolio.</p>
      <button class="btn btn-outline-light btn-lg" type="button">
        Create a new customer
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-4">
      <h2>
        <i class="bi bi-people text-warning"></i>
        Manage Leads
      </h2>
      <p>Manage, update and add leads to your client portfolio.</p>
      <button class="btn btn-outline-light btn-lg" type="button">
        Create a new lead
      </button>
    </div>
  </div>
</div>

<hr />

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <img src="../../../../../assets/img/angularApex.png" class="card-img-top" />
  </div>
  <div class="col-md-6">
    <h2>Architecture</h2>
    <p>
      NET is a powerful framework for building backend services, while Angular
      is a robust frontend framework. Combining them allows developers to create
      full-stack applications using a unified technology stack.
    </p>
    <p>
      Both .NET and Angular have large and active communities, which means
      developers have access to extensive documentation, tutorials, and
      third-party libraries. This makes it easier to find solutions to common
      problems and stay up-to-date with best practices.
    </p>
    <h2>Layered Architecture</h2>
    <p>
      The most common architecture pattern is the layered architecture pattern,
      otherwise known as the n-tier architecture pattern. This pattern is the de
      facto standard for most Java EE applications and therefore is widely known
      by most architects, designers, and developers. The layered architecture
      pattern closely matches the traditional IT communication and
      organizational structures found in most companies, making it a natural
      choice for most business application development efforts.
      <a
        href="https://www.oreilly.com/library/view/software-architecture-patterns/9781491971437/ch01.html"
        >Read more</a
      >
    </p>
  </div>
</div>
